*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
/*header开始*/
.header{
	height: 173px; 
	background-color: #eeeeef;
}
.logo{
	text-align: center;
	height:125px;
}
.logo img{
	margin:30px;
}
.nav{
	width: 670px;
	height: 45px;
	background-color: #fff;
	margin:0 auto;
	border-radius: 23px;
	font-size: 14px;
	font-family: '微软雅黑';
}
.nav li{
	float:left;
	height:45px;
	padding:0 30px;
	line-height:45px;
	background:url(../images/2.png) no-repeat right center;
}
.nav li a{
	display:block;
	height:42px;
	border-bottom:3px solid #1e50ae;
}
.nav li.last{
	background:none;
}
.second{
	height:810px;
}
.second h1{
	padding-top:70px;
	text-align: center;
	
	font-family: '微软雅黑';
	
}


.text{
	  padding-top: 30px;
      text-align: center;
      font-family: '微软雅黑';
      font-size: 32px;
      padding-bottom:64px;
}

.txet1{
	margin-bottom:16px;
	font-size:16px;
	color:#333333;
	text-align:center;
	font-family:'微软雅黑' ;
}
.li{
	margin-bottom: 16px;
	
}
.img{
	margin-right:15px;
	
}
.img1{
	margin-left: 65px;
	margin-bottom: 23px;
}
.box{
	float:left;
	width: 335px;
	height:413px ;
	margin-top:0 ;
	margin-bottom:30px;
	
}
.list{
	text-align:center;
}

